node_modules
.pnpm-store

# SvelteKit / build output
.svelte-kit
build
dist

# Environment
.env
.env.*
!.env.example

# Test / coverage
coverage
.playwright

# Logs
*.log
log.txt

# OS / editor
.DS_Store
Thumbs.db

# Local IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Paraglide
src/lib/paraglide
project.inlang/cache/
